.title{
    
    color: blue;
    background-color: burlywood;
}
.sourcecard{
    background-color: rgba(248, 248, 248, 0.89);
}
#sourcename{
   
    background-image: url("..app/static/events.jpeg");
    color: blue;
    font-weight: bold;
}
#sourcename a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.desc{
   
    font-size:20px;
}
#visit{
    margin-left: 10%; 
}
.art{
    font-weight: bold;
}
#articles{
    margin-top: 6%;
}
.info{
    margin-bottom: 2%;
}
#allsources{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: brown;
    width: 100%;
    padding-top: 1%
}
.headers{
    margin-top:5%;
    margin-bottom:16px; 
    color: white;
   
}
.nav-link,.navbar-brand{
    
    color: blue;
}
